[Unit]
Description=Site Sentinel Box Reader - Egress
Requires=network.target

[Service]
SyslogIdentifier=reader_egress
Type=forking
User=ubuntu
PIDFile=/home/ubuntu/site-sentinel-box-usb-readers/pids/reader_egress.pid
WorkingDirectory=/home/ubuntu/site-sentinel-box-usb-readers
ExecStart=/bin/ruby /home/ubuntu/site-sentinel-box-usb-readers/reader_egress_control.rb start
ExecReload=/bin/ruby /home/ubuntu/site-sentinel-box-usb-readers/reader_egress_control.rb restart
ExecStop=/bin/ruby /home/ubuntu/site-sentinel-box-usb-readers/reader_egress_control.rb stop
Restart=always

[Install]
WantedBy=multi-user.target